mat-form-field {
    width: 100%;
    padding: 0.5em 0.1em;
}

.container {
  padding: 1em;
}

.title {
  padding-top: 1em;
  text-align: center;
}

.row {
    height: auto;
    margin: 1em 0;
}

.waiting-response {
  padding-bottom: 0.2vw;
}

.output {
    margin: 0;
    overflow: auto;
}


@media only screen and (min-width: 992px) {
    .config mat-form-field {
        width: 80%;
    }

    mat-card {
        width: 80%;
    }

    .container {
      display: flex;
    }
}
